.section-contacts {
  .container {
    position: relative;
    padding-top: 200px;   
    @include media980 {
      padding-top: 120px;
    }  
    @include media480 {
      padding-top: 50px;
    }    
  }
  .col-s {
    position: relative;
  }
  &__img {
    position: absolute;
    left: 20px;    
    bottom: 0;
    opacity: 0;
    transition: 1s ease-in-out;
    @include media980 {
      display: none;
    }
    img {
      display: inline-block;
      max-width: 100%;
      height: auto;      
    }
  }
  &__img.visible {
    opacity: 1;
  }
  &__wrap {
    display: flex;
    justify-content: flex-end;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      border-top: 1px solid #f13f3f;
      top: -10px;
      left: 0;
      width: 35px; 
      @include media980 {
        display: none;
      } 
    } 
  }
}  
.form {
  position: relative;
  &__input {
    font-size: 14px;
    width: 100%;
    min-height: 50px;
    padding: 12px 20px 12px 50px;
    font-size: 14px;
    color: $gray;
    background-color: transparent;
    transition: .3s ease-in-out;
    border: 1px solid rgba(#fff, .3);
    outline: none;
    overflow: hidden;
    margin-bottom: 20px;
    &--name {
      background: transparent url("/images/male.svg") no-repeat 10px 50%/20px;      
    }
    &--email {
      background: transparent url("/images/email.svg") no-repeat 10px 50%/20px;      
    }
    &--phone {
      background: transparent url("/images/smartphone.svg") no-repeat 10px 50%/20px;      
    }
    &--msg {
      background: transparent url("/images/pen.svg") no-repeat 10px 10px/20px;   
      height: 135px;   
    }
  }  
}
#map {
  width: 100%;
  height: 400px;
  @include media980 {
    height: 250px;
  } 
}
