mixin section-first-screen    
    section.section.section-first#section-first
        .animatedBg   
        .container
            .section-first__col.col-l
                .section-first__text-accent
                    p Dark
                    span ink
                h1.section-first__title
                    |Tattoo salon
                p.section-first__text 
                    |Our tattooists use 100% safe technology to create stunning artworks. They use certified equipment, which guarantees the best possible results.
                .section-first__btn
                    button.btn(id="learnMore" data-div-name="project" type="button") Read more
        .section-first__info.info
            .info__block
                span.info__accent Free Call:
                a(href="tel:#") (073) 123-12-12  
            .info__block
                span.info__accent Opening Hours:
                span 10 am-8 pm, Mn-Fr              
