mixin section-about
    section.section.section-about#section-about.parallax 
        .container.section__wrap            
            .section-about__imgs.col-l            
                .section-about__img#photo1
                    img(src="/images/home-1.jpg", alt="photo")
                .section-about__img#photo2
                    img(src="/images/home-2.jpg", alt="photo") 
                .section-about__imgs-title Our gallery       
            .section-about__info.col-s
                h2.title About salon
                p.text--white We have been numerously recognized as #1 tattoo salon in Los Angeles. We aim to deliver the best tattooing services.
                p.text Our staff consistently upgrades their ability and knowledge through training and seminars to ensure your tattoo or piercing is performed using the latest industry standards.
                .signature
                    img(src="/images/signature.png", alt="signature") 
                