mixin nav
  nav.navigation
    ul.navigation__list.navigation
      li.navigation__item: a.navigation__link(href="#section-first") Home
      li.navigation__item: a.navigation__link(href="#section-about")  About us
      li.navigation__item: a.navigation__link(href="#section-services")  Services
      li.navigation__item: a.navigation__link(href="#section-gallery")  Gallery
      li.navigation__item: a.navigation__link(href="#section-contacts")  Contacts    