mixin footer
    footer.footer
        .container
            .footer__wrap  
                .footer__logo
                    a(href="#").header__logo.logobtn
                        img.logo(src="/images/logo.png", alt="Logo")
                .footer__nav  
                    +nav            
            .footer__copyright &copy; 2019 All Rights Reserved Privacy Policy  
    a.btn-up(href="javascript:void(0);" id="toTop")                  