mixin header
    header.header
        .container.header__wrap
            a(href="#").header__logo.logobtn
                img(src="/images/logo.png", alt="Logo")
        +nav            
        +burger            