mixin section-gallery
    section.section.section-gallery#section-gallery
        .container
            .section-gallery__wrap
                h2.title Gallery 
                .btn-no-bg(id="viewGallery" data-div-name="gallery") 
                    span View all gallery
                    .btn__arrow
                        +svg("bold-arrow")
        .section-gallery__slider            
            ul.gallery__list#slider-gallery.owl-carousel.owl-theme  
                each item in data.gallery
                    li.gallery__item.item
                        .gallery__photo
                            img(src="./images/" + item.photo, alt=item.name)                 