.section-testimonials__wrap {
  padding-left: 30px;
  @include media980 {
    padding-left: 0;
  }
  
}
.testimonials {
  &__item {
    padding: 0 20px;    
  }
  &__text {
    padding-top: 80px;
    background: url("/images/quotes.svg") no-repeat 0% 0%/70px;
    margin-bottom: 30px;
    line-height: 1.6;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__photo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
    img {
      width: 100%;      
    }
  }
  &__name {
    font-size: 24px;
    font-family: 'Lato Bold';
    margin-bottom: 10px;
    @include media768 {
      font-size: 21px;
    }
  }
  &__position {
    font-size: 18px;
    color: $gray;
  }
}
#slider-testimonials.owl-carousel .owl-dots {
  .owl-dot {
    margin-top: 30px;
    span {
      width: 15px;
      height: 15px;
      border: 2px solid #a9a9a9;
      border-radius: 50%;
      text-align: center;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      transition: .2s;
    }  
    &.active span {
      background: $accent;
      border-color: $accent;
    }
  }
}